body {
  width: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
  position: relative;
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.relative-mine {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.backdrop-mine {
  width: 100%;
  height: 100vh;
  color: white;
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-mine {
  width: 40%;
  display: none;
  padding: 2rem 3rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 8%);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.modal-mine form {
  text-align: center;
}

#plan {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0;
}
